*{
  margin: auto;
  justify-content:  center;
  align-items: center;
}

.content{
  justify-content: center;
  background-color: #fff;
  border-radius: 7px;
  padding: 30px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

img{
  width: 500px;
  justify-items: center;
  box-shadow: 10px 10px 40px rgba(0, 3, 1, 0.4);
  height: 450px;
  background-color: #fff;
}

button{
  justify-items: flex-end;
  display: flex;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  width: 500px;
}

.link{
  gap: 90px;
  display: flex;
  background-color:#fff;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}