*{
  margin: auto;
  justify-content:  center;
  align-items: center;
}

.content{
  justify-content: center;
  background-color: #fff;
  border-radius: 7px;
  padding: 30px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}